{% extends 'basethree.html' %}

{% block content %}


<div class="modal fade modal-form" id="register-modal" role="dialog">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       <h4 class="modal-title" aria-labelledby="myModalLabel">register for simply good</h4>
     </div>
    <div class="modal-body">
    {% for field in form %}
    {{field.error}}
    {% endfor %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" class="btn btn-warning" value="submit" />
<!--<input type="submit" value="Register" />-->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} {% endif %}{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</form>

    </div>
   </div>
 </div>
</div>


{% endblock content %}
